<mat-form-field>
  <mat-label>Please select feed:</mat-label>
  <mat-select (selectionChange)="onFeedChange($event)" [(value)]="selectedFeed">
    <mat-option *ngFor="let feed of feeds" [value]="feed.id">
      {{feed.title}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile>
      <input matInput  placeholder="enter search expression" [(ngModel)]="searchValue">
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button (click)="search()" type="button">Search</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox class="example-margin" (change)="onlySubscribedChanged($event)">Show only my subscriptions</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile>
    <button *ngIf="!isFeedSub && !first" mat-stroked-button (click)="subscribe()" type="button">Subscribe</button>
    <button *ngIf="isFeedSub && !first" mat-stroked-button (click)="unsubscribe()" type="button">Unsubscribe</button>
  </mat-grid-tile>
</mat-grid-list>  

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef width ="20%"> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Content </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>