html {
  background-color: #ffffff;
  font-family: trebuchet, geneva, sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 0.1rem;
  box-sizing: border-box;
  background-color: #0570fc;
  color: rgb(255, 255, 255);
  text-align: left;
  border-bottom: 1px solid;
  padding-left: 1rem;
}

h2 a{
  color: white;
  text-decoration: none;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
    padding: 2rem;
}
